<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Cafe Management System
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()">Login</a>
        <a (click)="handleSignupAction()">SignUp</a>
        <a (click)="handleforgotPasswordAction()">Forgot Password</a>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function(){
    $('.modal').modal();
    $('.sidenav').sidenav();
    $('.parallax').parallax();
    $('.myreviews').carousel({
        numVisible:7,
        shift:55,
        padding:55,
    });
    $('.slider' ).slider({full_width: true});
    });
</script>